body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.Products, .Locations, .Title {
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    justify-content: space-around;
    /* align-items: center; */
    background-color: bisque;
}

.chart-container {
    width: 40%;
}

.chart-container Line, .chart-container Bar {
    display: inline-block;
    width: 100%;
}